*{ /* Esto afecta a todo el documento, aquí lo que hago es quitar espacios de márgenes globales para ceñir la página */
    margin: 0px;
    padding: 0px;
}
/* Aquí ajusto el cuerpo total y la disposición */
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 3em; /* Sólo pongo margen top para darle hueco desde arriba */
}
.lab{
    font: bold;
}
/* Para darle espacio entre los inputs */
input{
    margin: .5em;
}
/* Defino el botón */
button{
    background-color: #007BFF;
    color: white;
    font-size: larger;
    padding: .5em 1em;
    &:hover{ /* Esto se puede poner fuera o dentro, trnasforma el cusor cuando se sitúa encima del objeto */
        cursor: pointer;
    }
}
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}